*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(138, 43, 226, 0.7) ;
}
.letra{
    display: flex;
    color: blueviolet;
    align-items: center;
}
h1{
    display: flex;
    color: white;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 990px;
}
.fundo{
    background-image: url(img/1325726.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);

}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
nav .active a,
nav a:hover {
    background-color: blueviolet;

}